<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124597768837-htvlccfl205nes9pmqm38lup783hhua7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124597768837-htvlccfl205nes9pmqm38lup783hhua7</string>
	<key>API_KEY</key>
	<string>AIzaSyBpL3cFcVQ-eGquqSJ4zrS58BKGJ__x5ck</string>
	<key>GCM_SENDER_ID</key>
	<string>124597768837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifications</string>
	<key>PROJECT_ID</key>
	<string>notifications-d5f66</string>
	<key>STORAGE_BUCKET</key>
	<string>notifications-d5f66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124597768837:ios:858e172c10c262d45f0fec</string>
</dict>
</plist>